<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postagens Node.js</title>
</head>
<body>
    <!-- Header -->
    <header id="header">
				<div class="inner">
				<img href="/lista" class="logo" src="/img/esfera.png" width="6%" />

					<nav id="nav">
						<a href="/lista">LISTA DE JOGOS</a>
						<a href="/cad">CADASTRAR JOGOS</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

            <!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>JOGOS QUE MARCARAM </br>UMA GERAÇÃO</h1>
					</header>
				</div>
				<p class="textpqn">Jogos podem ultrapassar gerações. Acredite... <br /></p>

			</section>


			<!-- Contact -->
			<section id="contact">
				<!-- Social -->
					<div class="social column">
						{{{body}}}
						</br>
						</br>
						<ul class="icons">
							<li></li>
							<li><a href="https://www.facebook.com/douglas.rodriguessilva.779/" target="blank" class="icon fab fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.linkedin.com/in/douglas-rodrigues-silva-bb5b93180/" target="blank" class="icon fa-linkedin"><span class="label">Instagram</span></a></li>
						</ul>
						<ul class="icons">
							<i class="fas fa-envelope"></i> douglas97.engenharia@outlook.com  
							<i class="fas fa-phone-alt"></i> (11) 94996-1809
						</ul>
						<ul class="icons">
							<p><i class="fas fa-map-marker-alt"></i>  R. Alameda Família Jacinto, 308 - Jardim Santa Marta, Sorocaba - SP, 18073-405 </p>
						</ul>
						</div>

				
		<!-- Footer -->
	</section>
</body>

		<!-- Script -->	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</html>
