<form action="/formu" method="POST">
<script>
function editsuccess()
{
alert("Jogo alterado com sucesso!!!");
}
</script>
    <h2>Título do game:</h2>
    <input class="field" type="text" name="titulo"></br>
    <h2>Conteúdo do game:</h2>
    <textarea class="field" name="conteudo" id="" cols="50" rows="7"></textarea>
    <button type="submit" onclick="editsuccess()">Alterar Jogo</button>
    </form>